<!--Heading-->
<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1"> My Activity Tracker!</span>
  </nav>
  
  <div class="jumbotron my-5 mx-5">
    <div *ngFor="let todo of todos; let i=index" class="todoItem">
      <input type="checkbox" id="todo-checkbox" [(ngModel)]="todo.done" (click)="checkBoxDone()">
      <span class="addeditem"> {{i+1}}. {{todo.item}} </span>
    </div>
    <!--If no activity added display message: no activites to track-->
    <span *ngIf="todos.length == 0">No Activities to track! Start by adding one</span><br><br>
    <!--Text input to read input activity-->
    <input class="form-control" type="text" placeholder="Add Your Activity" [(ngModel)]="newToDo">
    <!--If user doesnot write anything in the text box display error message-->
    <span *ngIf="error" style="color:red;">Please enter an activity!</span>
    <br />
    <!--Button to add Activity-->
    <button type="button" class="btn btn-outline-success" (click)="isPresent(); addMore()">Add an Activity!</button>
    <!--Button to Clear all the activities-->
    <button type="button" class="btn btn-outline-danger" (click)="clearAll()">Clear All</button>
  </div>